*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Share Tech Mono", sans-serif;
}

body {
  font-family: Arial, sans-serif;
}

.section#home {
  position: relative;
  overflow: hidden;
}
.section#home video {
  width: 120%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .section#home video {
    height: 100vh;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #15212C;
  color: #FAFAFA;
  z-index: 100;
}
.navbar .brand-title {
  font-size: 1.5rem;
  display: block;
  cursor: pointer;
}
.navbar .brand-title .middle {
  color: #FF00DD;
}
.navbar .brand-title .end {
  color: #00E5FF;
}
.navbar .brand-title .brand-title-pink {
  color: #FF00DD;
}
.navbar .navbar-links ul {
  display: flex;
  list-style: none;
}
.navbar .navbar-links ul li {
  margin-left: 1.5rem;
}
.navbar .navbar-links ul li a {
  color: #FAFAFA;
  text-decoration: none;
  font-size: 1rem;
}
.navbar .navbar-links ul li a:hover {
  color: #00E5FF;
  transition: 0.5s;
}
.navbar .toggle-checkbox {
  display: none;
}
.navbar .toggle-button {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.navbar .toggle-button .bar {
  height: 3px;
  width: 25px;
  background-color: #FAFAFA;
  margin: 4px 0;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .navbar .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .navbar .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar .navbar-links ul li {
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
  }
  .navbar .navbar-links ul li a {
    display: block;
    padding: 0.5rem;
  }
  .navbar .toggle-button {
    display: flex;
    margin-left: 24px;
  }
  .navbar .toggle-checkbox:checked ~ .navbar-links {
    display: flex;
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  text-align: center;
  color: #313639;
  background-color: #FAFAFA;
}
.section:nth-child(odd) {
  background-color: #15212C;
  color: #FAFAFA;
}
.section * {
  margin-left: 12px;
  font-family: Arial, sans-serif;
}
.section h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Share Tech Mono", sans-serif;
}
.section p {
  max-width: 600px;
  line-height: 1.6;
  font-size: 1.2rem;
  text-align: left;
}
.section ul li {
  max-width: 600px;
  line-height: 1.6;
  font-size: 1.2rem;
  list-style-type: none;
  text-align: left;
}
.section ul li a {
  color: #FAFAFA;
  text-decoration: none;
  text-align: left;
  margin-left: 0;
}
.section a:hover {
  color: #00E5FF;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .section {
    padding: 1.5rem;
  }
  .section h1 {
    font-size: 2rem;
  }
  .section p {
    font-size: 1rem;
  }
  .section li a {
    text-wrap: warp;
  }
}
.footer {
  background-color: #15212C;
  background: linear-gradient(0deg, #00E5FF 0%, #15212C 25%);
  color: #FAFAFA;
  padding: 2rem 1rem;
  font-family: "Share Tech Mono", sans-serif;
  text-align: center;
  width: 100%;
}
.footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.footer .footer-content .footer-section {
  flex: 1;
  max-width: 300px;
  margin-bottom: 1rem;
}
.footer .footer-content .footer-section h2 {
  font-size: 1.5rem;
  color: #00E5FF;
  margin-bottom: 0.5rem;
}
.footer .footer-content .footer-section p {
  line-height: 1.6;
}
.footer .footer-content .footer-section ul {
  list-style: none;
  padding: 0;
}
.footer .footer-content .footer-section ul li {
  margin-bottom: 0.5rem;
}
.footer .footer-content .footer-section ul li a {
  color: #FAFAFA;
  text-decoration: none;
}
.footer .footer-content .footer-section ul li a:hover {
  color: #00E5FF;
  transition: 0.3s;
}
.footer .footer-bottom {
  text-align: center;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 1rem;
}
.footer .footer-bottom p {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .footer {
    padding: 1.5rem 2rem;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-content .footer-section {
    width: auto;
    margin-bottom: 1rem;
  }
  .footer-bottom p {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */